/playedu-pc/node_modules/
/playedu-pc/dist/
/playedu-pc/.env.local/
/playedu-pc/.env.development/
/playedu-pc/.env.production/
/playedu-pc/build/

/playedu-h5/node_modules/
/playedu-h5/dist/
/playedu-h5/.env.local/
/playedu-h5/.env.development/
/playedu-h5/.env.production/
/playedu-h5/build/

/playedu-admin/node_modules/
/playedu-admin/dist/
/playedu-admin/.env.local/
/playedu-admin/.env.development/
/playedu-admin/.env.production/
/playedu-admin/build/