#################  PlayEdu ###################
PLAYEDU_API_PORT=9700
PLAYEDU_PC_PORT=9800
PLAYEDU_H5_PORT=9801
PLAYEDU_ADMIN_PORT=9900
PLAYEDU_JWT_KEY=playeduxyz

#################  MySQL ###################
MYSQL_PORT=3306

#################  Redis ###################
REDIS_PORT=6379

#################  MINIO ###################
MINIO_ROOT_USERNAME=username
MINIO_ROOT_PASSWORD=password
MINIO_PORT=9002
MINIO_CONSOLE_PORT=50002
