<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.playedu.api.mapper.AppConfigMapper">

    <resultMap id="BaseResultMap" type="xyz.playedu.api.domain.AppConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="group" column="group" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
            <result property="key" column="key" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
            <result property="optionValue" column="option_value" jdbcType="VARCHAR"/>
            <result property="isPrivate" column="is_private" jdbcType="TINYINT"/>
            <result property="help" column="help" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="isShow" column="is_show" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group,name,
        sort,field_type,key,
        value,default_value,option_value,
        is_private,help,created_at,
        is_show
    </sql>
</mapper>
