<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.playedu.api.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="xyz.playedu.api.domain.Course">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="thumb" column="thumb" jdbcType="VARCHAR"/>
            <result property="charge" column="charge" jdbcType="INTEGER"/>
            <result property="classHour" column="class_hour" jdbcType="INTEGER"/>
            <result property="isShow" column="is_show" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,thumb,
        charge,class_hour,is_show,
        created_at,updated_at,deleted_at
    </sql>

    <select id="getCategoryCount" resultType="xyz.playedu.api.types.mapper.CourseCategoryCountMapper">
        SELECT `resource_course_category`.`category_id` as `cid`, count(*) as `total`
        FROM `resource_course_category`
        GROUP BY `resource_course_category`.`category_id`;
    </select>

    <select id="getNoneCategoryCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT `courses`.`id`) AS `total`
        FROM `courses`
                 LEFT JOIN `resource_course_category` ON `resource_course_category`.`course_id` = `courses`.`id`
        WHERE `resource_course_category`.`course_id` IS NULL;
    </select>
</mapper>
